In [28]:
import io
import psycopg2
import pandas as pd

In [56]:
air_cias = pd.read_csv(r'C:\Users\Weirivelton\Desktop\Teste projetas\Tratamento de dados\Bases tratadas\AIR_CIA.csv' )
vras = pd.read_csv("C:\\Users\\Weirivelton\Desktop\Teste projetas\\Tratamento de dados\\Bases tratadas\\vra.csv"  , sep=';' , encoding='utf-8')
api_bases = pd.read_csv(r'C:\Users\Weirivelton\Desktop\Teste projetas\Tratamento de dados\Bases tratadas\api_base.csv' , sep=',', encoding='utf-8' )
dim_geográficas = pd.read_csv(r'C:\Users\Weirivelton\Desktop\Teste projetas\Tratamento de dados\Bases tratadas\dim_geográfica.csv' , sep=';', encoding='utf-8' )

C:\Users\Weirivelton\AppData\Local\Temp\ipykernel_10620\1273862633.py:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  vras = pd.read_csv("C:\\Users\\Weirivelton\Desktop\Teste projetas\\Tratamento de dados\\Bases tratadas\\vra.csv"  , sep=';' , encoding='utf-8')

In [30]:
def carregar_dados(conn, df, tabela, colunas):
    cur = conn.cursor()
    output = io.StringIO()
    df.to_csv(output, sep='\t', header = False, index = False)
    output.seek(0)
    try:
        cur.copy_from(output, tabela, null = "", columns = colunas)
        conn.commit()
    except Exception as e:
        print(e)
        conn.rollback()

In [47]:
conn = psycopg2.connect(host='localhost', port='5432', database='postgres', user='admin', password='admin')

In [44]:
air_cias.dropna(subset=['id_icao'], inplace=True)
air_cias.dropna(subset=['IATA'], inplace=True)
air_cias.isnull().sum()
air_cias.drop_duplicates(subset='id_icao')
air_cias.drop_duplicates(subset='IATA')
api_bases.dropna(subset=['iata_code'], inplace=True)
api_bases.dropna(subset=['id_icao'], inplace=True)
api_bases.drop_duplicates(subset='id_icao')

    iata_code                 name id_icao
0          0V                VASCO     VFC
1          1X  Branson Air Express       0
2          2G      Angara Airlines     AGU
3          2I            Star Peru     SRU
4          2J          Air Burkina     VBW
..        ...                  ...     ...
751        5J         Cebu Pacific     CEB
752        NZ      Air New Zealand     ANZ
753        TR                Scoot     TGW
754        5K               Hi Fly     HFY
755        HG   Hibernian Airlines     HBN

[738 rows x 3 columns]

In [33]:
carregar_dados(conn, air_cias, 'air_cia', (                 'razão_social',     
                                                            'cnpj',
                                                            'atividades_aéreas', 
                                                            'endereço_sede',
                                                            'telefone',
                                                            'email',
                                                            'decição_operacional',
                                                            'data_decisão_operacional',
                                                            'validade_operacional',
                                                            'id_icao',
                                                            'iata'))

In [34]:
carregar_dados(conn, vras, 'vra', (  
                        'id_icao',       
                        'número_voo',
                        'código_autorização',
                        'codigo_tipo_linha',
                        'icao_aeródromo_origem',
                        'icao_aeródromo_destino',
                        'partida_prevista',
                        'partida_real',
                        'chegada_prevista',
                        'chegada_real',
                        'situação_voo',
                        'código_justificativa'
                        
                        ))

column "icao_iata" of relation "vra" does not exist

In [46]:
carregar_dados(conn, api_bases, 'api_bases', (  
                        'iata_code',       
                        'name',
                        'id_icao'

                        
                        ))

In [54]:
carregar_dados(conn, dim_geográficas, 'dim_geográfica', (  
                        'id_icao', 
                        'uf'      
                        

                        
                        ))